/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary
*.html linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.styl linguist-vendored
*.php linguist-vendored
*.less linguist-vendored
*.java linguist-vendored=false